.waist{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--primary-padding) 0;
    border-bottom: 1px solid var(--main-color);

}
.waist h2{
    color: var(--main-color);
    font-size: var(--font-size-titles);
    font-family: var(--font-family);
    font-weight: 500;
}
.waist iframe{
    border-radius:10px ;
    width: 560px;
    height: 315px;
}
@media (max-width:992px) {
    .waist{
        display: block;
    }
    .waist h2{
        text-align: center;
    }
    .waist iframe{
        width: 60%;
        margin-left: 20%;
        height: 160px;
    }
}